/* animating stuff  */

@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}
body{
  background: #42455a;
}

td, th {
  text-align: center;
}

img {
  width: 150%;
  height: 150%;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

h1{
  font-size: 3rem;
  margin: 20px;
}

.h1-dark{
  color: #fafafa;
}

.h1-light {
  color: #28292e;
}

.section_top{
  color: #fafafa;
  }
.section_content{
  background: #aaaaaa;
}
.section_dark{
  background-color: #42455a;
}
.section_alternate{
  background-color: #28292e;
}

.para-dark {
  color: #fafafa;
}

.para-light {
  color: #202020;
}


section .container{
  margin: 100px;
  text-align: center;
  vertical-align: middle;
}

.reveal{
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateX(0);
  opacity: 1;
}

/* end animating stuff  */

/* nav bar stuff */
.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.li-nav {
    float: left;
}

.li-nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.li-nav a:hover {
    background-color: #111111;
}

/* end nav bar stuff */


/* scroll to top button stuff */

#scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;  
  display: none;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}


#scroll-to-top-button svg {
  font-size: 24px;
  color: #000000;
  line-height: 50px;
  text-align: center;
}

/* end scroll to top button stuff */

/* begin iframe stuff */

.iframe-float-left {
  margin: auto;
  display: block;
}

/* end iframe stuff */

/* begin paragraph stuff */

.para-float-right {
  margin: 0 auto;
  padding: 1%;
  width: 30%;
  color: rgb(170, 170, 170);
}

/* end paragraph stuff */

/* begin div formatting stuff */

.div-container {
  justify-content: center;
  display: inline;
  vertical-align: middle;
}

/* end div formatting stuff */


/* begin table formating stuff */

.borderless-table-dark {
  margin: auto;
  width: 30%; 
  color:#fafafa
}

.borderless-table-dark th {
  padding-top: 10%;
}




.borderless-table-light {
  width: 30%;
  margin: auto;
  color:#202020
}

.borderless-table-light th {
  padding-top: 10%;
}

/* end table formatting stuff */

/* begin link formatting stuff */

.quiet-link { 
  color: inherit;
  text-decoration: inherit;
}

/* end link formatting stuff */

/* begin address formatting stuff */
.hover-address {
  position: relative;
}

.hover-address:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  font-size: 50%;
  background-color: inherit;
  color: white;
  padding: 1.5% 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  display: block; 
}

.hover-address:hover:before{
  opacity: 1;
  visibility: visible;
  font-size: 150%;
  padding: 3%;
  text-align: center;
  display: inline;
  margin-left: -120%;
}


.address-div {
  text-align: center;
  align-items: center;
  background-color: inherit;
  color: white;
}


/* BIG IMPORTANT https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_display_element_hover */