

.para-red-arial {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.para-blue-courier {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

.para-green-timesNewRoman {
    color: green;
    font-family: 'Times New Roman', Times, serif;
}